.Main-wapper {
  width: 91.79%; /* 화면 너비의 91.79%를 차지하도록 설정 */
  max-width: 480px; /* PC 등 큰 화면에서 최대 너비를 480px로 제한 */
  margin: 0 auto; /* 좌우 여백을 자동으로 계산하여 중앙 정렬 */
  background-color: #ffffff;
  box-sizing: border-box;
}

.Order-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 18px 18px;
  margin-bottom: 28px;
  min-height: 210px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Order-restaurant {
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 12px;
}

.Order-menu {
  color: #9d9d9d;
  font-size: 14px;
  margin-bottom: 12px;
}

.Order-price {
  margin-bottom: 18px;
  font-size: 14px;
}

.Original-price {
  margin-left: 8px;
  text-decoration: line-through;
  color: #bbb;
}

.Discounted-price {
  margin-left: 6px;
  font-weight: bold;
  color: #684cf6;
}

.Discount-badge {
  border: 1px solid #5c73ff;
  color: #5988f7;
  border-radius: 8px;
  padding: 2px 8px;
  margin-left: 12px;
  font-size: 11px;
}

.Order-time {
  margin-bottom: 28px;
  font-size: 14px;
}

.Order-time span {
  margin-left: 12px;
  color: #9d9d9d;
}

.review-contain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-btn {
  height: 48px;
  box-sizing: border-box;
  background: #5c73ff;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
