/* Main.css */

.Main-wapper {
    width: 100%;
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    align-items: center; /* 세로 정렬 상태에서 수평 중앙으로 정렬 */
}
.Main-content {
    width: 100%; /* 부모(.main-wapper)의 정렬 기준에 맞게 너비를 채웁니다. */
    display: flex;
    flex-direction: column;
    align-items: center; /* Main-content 내부의 요소들을 수평 중앙 정렬합니다. */
}
